{% extends 'generic/calculator_base.html' %}
{% set scripts=['formtip'] %}
{% block calculator_input %}
    <section>
        <h2>Input</h2>

        {% if message is not none %}
            <p class="warning">
                {{ message }}
            </p>
        {% endif %}

        <ol>
            {% block calculator_input_list %}
                {% for section in inputs.by_section() %}
                    {% if section.name is not none %}
                        <li class="separator">{{ section.name }}</li>
                    {% endif %}
                    {% for value in section.items %}
                        {% with input = input_values[value.code] %}
                            {% block calculator_input_item scoped %}
                                <li>
                                    <label for="a">{{ value.name }}</label>
                                    <input type="number" step="0.01" name="{{ value.code }}" value="{{ input }}" />
                                    {% if value.unit is not none %}
                                        {{ value.unit }}
                                    {% endif %}
                                    {% if value.code == 'dd' %}
                                      <div class="formtip">
                                        <div>
                                            <p>
                                              <b>Ayuda</b>
                                              <br/>
                                              <i>Descripción</i>
                                              <p>Aquí va mi mensaje de ayuda!</p>
                                            </p>
                                        </div>
                                      </div>
                                    {% endif %}
                                </li>
                            {% endblock %}
                        {% endwith %}
                    {% endfor %}
                {% endfor %}
            {% endblock %}
            <li>
                <input type="submit" name="submit_calc" value="Calculate" />
            </li>
        </ol>
    </section>
{% endblock %}
{% block calculator_modes %}
    <section>
        <h2>Calculator Mode</h2>

        <ol>
            <li>
                <label for="mode">Observing Map Mode:</label>
                <select name="mode">
                    {% for (mode_id, mode) in modes.items() %}
                      {% if mode_id == 1 %}
                        <option value="{{ mode_id }}" {{ 'selected="selected"' | safe if mode_id == current_mode }}>Large</option>
                      {% elif mode_id == 2 %}
                        <option value="{{ mode_id }}" {{ 'selected="selected"' | safe if mode_id == current_mode }}>Small</option>
                      {% elif mode_id == 3 %}
                        <option value="{{ mode_id }}" {{ 'selected="selected"' | safe if mode_id == current_mode }}>Photometry</option>
                      {% endif%}
                    {% endfor %}
                </select>
            </li>
            <li>
                <input type="submit" name="submit_mode" value="Change mode" />
            </li>
        </ol>
    </section>
{% endblock %}
